.body {
    background-color: powderblue;
    color: blue; /*hola*/
}
.h1 {
    color: blue;
}
/*hola*/
.p {
    color: red;
}
.div a h{
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: blue;
}